.back {
  background-size: cover;
background-color: black;
text-align:center;
height: 700px;

}

.textfirst {
  color : white;
  text-align: center;
  font-family: 'Gill Sans MT';
  ;
}

.imagefirst {
  width :500px;
  height :200px;

}
.para {
  color:white;
  text-align: center;
  font-size: small;
}
.align {
  text-align: center;
}
.buttonatt {
  align-items: center;
}
.but {
  width: 200px;
  height :45px;
  align-items: center;
}
.imagesec {
  width: 100px;
  height: 100px;

}
.second {
  width: 100px;
  height: 100px;
}